<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxjs2NULcVm1lbYPc0JD3ot8fmYvh-VaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>390852993952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneProject</string>
	<key>PROJECT_ID</key>
	<string>agriculture-capstone-project</string>
	<key>STORAGE_BUCKET</key>
	<string>agriculture-capstone-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390852993952:ios:5703725854259be6483ac5</string>
</dict>
</plist>